<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>ALARMAS</title>
	<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
	<style>
  body, html {
		height: 100%;
		text-align:center;
		background-image: url("https://s7d5.scene7.com/is/image/cmrchile/crocodile-eye-close-up-shiny-reptile-min?scl=1");
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
    }
    li {
        display: inline;
    }

    /* Style the navigation bar */
    .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    }

    /* Navbar links */
    .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    }

    /* Navbar links on mouse-over */
    .navbar a:hover {
    background-color: #000;
    }

    /* Current/active navbar link */
    .active {
    background-color: #4CAF50;
    }

    /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
    @media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
    }


	.tx{
    color: white;
		font-style: italic;
    text-align: center;
		}
  .alarma{
    background: rgba(223,220,5,0.5);
    width: 80%;
    height: 70%;
    margin: auto;
  }
	</style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="navbar">
    <a href="http://localhost:8080/panel"><i class="fa fa-fw fa-linux"></i> Home</a>
    <a class="active" href="http://localhost:8080/alarmas"><i class="fa fa-fw fa-hand-rock-o"></i> Alarmas</a>
    <a href="http://localhost:8080/perfil"><i class="fa fa-fw fa-code-fork"></i> Perfil de Configuración</a>
    <a href="http://localhost:8080/botones"><i class="fa fa-fw fa-bullseye"></i> Botones de Emergencia</a>
    <a href="http://localhost:8080/"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
  </div>
  <h1 class = "tx"> ALARMAS </h1>
  <br>
  <br>
	<div class="alarma">
		<br>
		<br>
		<div class="tx" id="alarma">
			<p id="hora" class="hora"></p>
			<p id="razon" class="razon"></p>
		</div>
		<br>
		<br>
	</div>
</body>
<script>
var id=localStorage.getItem("id_cliente")
console.log("el id del cliente ingresado es:")
console.log(id)
$.ajax({
 url: 'http://localhost:8000/alarmas/'+id+'',
 contentType:"application/json; charset: utf-8",
 withCredentials:false,
 type: 'GET',
 success: function (res){
   console.log(res)
	 console.log("ALARMAS - GET ALARMAS")
	 var cont = 0;
	 res.forEach( x => {divc = "<div>.container.content-rows";
	 var hora = res[cont].hora
	 var razon = res[cont].razon
	 var divc = document.createElement("div");
	 divc.textContent = "hora: " + hora +"  razon: " + razon;
	 document.getElementById('alarma').appendChild(divc);

		 cont = cont + 1;
 }
 	);

 }
 });
</script>
</html>
