<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Botones</title>
	<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
	<style>

	body, html {
		height: 100%;
		background-image: url("https://wallpapercave.com/wp/wp2165344.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
	* {
			box-sizing: border-box;
		}
      li {
          display: inline;
      }

      /* Style the navigation bar */
      .navbar {
      width: 100%;
      background-color: #555;
      overflow: auto;
      }

      /* Navbar links */
      .navbar a {
      float: left;
      text-align: center;
      padding: 12px;
      color: white;
      text-decoration: none;
      font-size: 17px;
      }

      /* Navbar links on mouse-over */
      .navbar a:hover {
      background-color: #000;
      }

      /* Current/active navbar link */
      .active {
      background-color: #4CAF50;
      }

      /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
      @media screen and (max-width: 500px) {
      .navbar a {
          float: none;
          display: block;
      }
      }

	.columna2{
		float: right;
			}

	.columna{
			float: left;
		}

	.css_boton {
		height:100px;
		width: 250px;
		border: solid;
		border-color: #3333ff;
		font-style: italic;
		color: black;
		font-size: 20px;
	}

	.row:after {
    content: "";
    display: table;
    clear: both;
	}

	.txt{
		color: white
	}


	 </style>/
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>



	<div class="navbar">
		<a href="http://localhost:8080/panel"><i class="fa fa-fw fa-linux"></i> Home</a>
    <a href="http://localhost:8080/alarmas"><i class="fa fa-fw fa-hand-rock-o"></i> Alarmas</a>
		<a href="http://localhost:8080/perfil"><i class="fa fa-fw fa-code-fork"></i> Perfil de Comfiguración</a>
		<a class="active" href="http://localhost:8080/botones"><i class="fa fa-fw fa-bullseye"></i> Botones de Emergencia</a>
    <a href="http://localhost:8080/"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
	</div>


<h1 class = "txt">BOTONES DE EMERGENCIA</h2>
	<div class = "row">
		<div class = "columna">
			<br><br>
			<h2 class = "txt">LUZ ULTRA VIOLETA </h2>
			<br><br>
			<button class = "css_boton" type="submit" id="foco_uv">
			</button>

			<h2 class = "txt">FOCO TERMICO </h2>
			<br><br>
			<button class = "css_boton" type="submit" id="foco_termico">
			</button>
		</div>

		<div class = "columna2">
			<br><br>
	        <h2 class = "txt">PLACA TERMICA</h2>
			<button class = "css_boton" type="submit" id="placa_termica">
			</button>


	        <br><br>
			<h2 class = "txt">CASCADA AUTOMÁTICA </h2>
			<button class = "css_boton" type="submit" id="catarata">
			</button>
		</div>
	</div>
</body>

	<script>
	var id=localStorage.getItem("id_cliente")
	console.log("el id del cliente ingresado es:")
	console.log(id)

	$(document).ready(function () {
		//------------------------get info botones
			$.ajax({
				url: 'http://localhost:8000/accesorios/'+id+'',
				contentType:"application/json; charset: utf-8",
				crossDomain: true,
				withCredentials:false,
				type: 'GET',
				success: function (res){
					console.log("GET - BOTONES")

					if (res.uv == 1) {
						document.getElementById('foco_uv').innerHTML = "Está PRENDIDO";
						document.getElementById("foco_uv").style.background = "#00FF00";
					} else {
						document.getElementById('foco_uv').innerHTML = "Está APAGADO";
						document.getElementById("foco_uv").style.background = "#ff5b5a";
					}
					if (res.focotermico == 1) {
						document.getElementById('foco_termico').innerHTML = "Está PRENDIDO";
						document.getElementById("foco_termico").style.background = "#00FF00";
					} else {
						document.getElementById('foco_termico').innerHTML = "Está APAGADO";
						document.getElementById("foco_termico").style.background = "#ff5b5a";
					}
					if (res.placatermica == 1) {

						document.getElementById('placa_termica').innerHTML = "Está PRENDIDO";
						document.getElementById("placa_termica").style.background = "#00FF00";
					} else {

						document.getElementById('placa_termica').innerHTML = "Está APAGADO";
						document.getElementById("placa_termica").style.background = "#ff5b5a";
					}
					if (res.catarata == 1) {
						document.getElementById('catarata').innerHTML = "Está PRENDIDO";
						document.getElementById("catarata").style.background = "#00FF00";
					} else {
						document.getElementById('catarata').innerHTML = "Está APAGADO";
						document.getElementById("catarata").style.background = "#ff5b5a";
					}
				},
				error: function(){
					alert("Hubo algun tipo de error.");
				}
			});
		});
//-------------------------------ON CLICK---------------------------------------
	$('#foco_uv')
	.click(function(e){
		console.log("UPDATE FOCO_UV")
		if (document.getElementById('foco_uv').innerHTML == "Está PRENDIDO"){
			//está prendido, hay que apagarlo
			console.log("APAGAR FOCO UV")
			$.ajax({
				url: 'http://localhost:8000/botones/update/'+id+'',
				contentType:"application/json; charset: utf-8",
				crossDomain: true,
				withCredentials:false,
				type: 'put',
				data: '{"nombre": "uv", "valor": "0"}',
				success: function (res){
					console.log(res.placa);
					if (res.placa == 0) {
						document.getElementById('foco_uv').innerHTML = "Está APAGADO"
						document.getElementById("foco_uv").style.background = "#ff5b5a";    //rojo
					}

				},
				error: function(){
					alert("Hubo algun tipo de error.");
					}
			});
		}else{
			//etá apagado, hay que prenderlo
			console.log("PRENDER FOCO UV")
			$.ajax({
				url: 'http://localhost:8000/botones/update/'+id+'',
				contentType:"application/json; charset: utf-8",
				crossDomain: true,
				withCredentials:false,
				type: 'put',
				data: '{"nombre": "uv", "valor": "1"}',

				success: function (res){
					console.log(res.placa);
					if (res.placa == 0) {
						document.getElementById('foco_uv').innerHTML = "Está PRENDIDO"
						document.getElementById("foco_uv").style.background = "#ff5b5a";    //rojo
					}

				},
				error: function(){
					alert("Hubo algun tipo de error.");
					}
			});
		}

	});

	$('#foco_termico')
	.click(function(e){
		console.log("UPDATE FOCO_TERMICO")
		if (document.getElementById('foco_termico').innerHTML == "Está PRENDIDO"){
			//está prendido, hay que apagarlo
			console.log("APAGAR FOCO TERMICO")
			$.ajax({
				url: 'http://localhost:8000/botones/update/'+id+'',
				contentType:"application/json; charset: utf-8",
				crossDomain: true,
				withCredentials:false,
				type: 'put',
				data: '{"nombre": "foco_termico", "valor": "0"}',
				success: function (res){
					console.log(res.placa);
					if (res.placa == 0) {
						document.getElementById('foco_termico').innerHTML = "Está APAGADO"
						document.getElementById("foco_termico").style.background = "#ff5b5a";    //rojo
					}

				},
				error: function(){
					alert("Hubo algun tipo de error.");
					}
			});
		}else{
			//etá apagado, hay que prenderlo
			console.log("PRENDER FOCO TERMICO")
			$.ajax({
				url: 'http://localhost:8000/botones/update/'+id+'',
				contentType:"application/json; charset: utf-8",
				crossDomain: true,
				withCredentials:false,
				type: 'put',
				data: '{"nombre": "foco_termico", "valor": "1"}',

				success: function (res){
					console.log(res.placa);
					if (res.placa == 0) {
						document.getElementById('foco_termico').innerHTML = "Está PRENDIDO"
						document.getElementById("foco_termico").style.background = "#ff5b5a";    //rojo
					}

				},
				error: function(){
					alert("Hubo algun tipo de error.");
					}
			});
		}

	});

	$('#placa_termica')
	.click(function(e){
		console.log("UPDATE PLACA TERMICA")
		if (document.getElementById('placa_termica').innerHTML == "Está PRENDIDO"){
			//está prendido, hay que apagarlo
			console.log("APAGAR PLACA TERMICA")
			$.ajax({
				url: 'http://localhost:8000/botones/update/'+id+'',
				contentType:"application/json; charset: utf-8",
				crossDomain: true,
				withCredentials:false,
				type: 'put',
				data: '{"nombre": "placa_termica", "valor": "0"}',
				success: function (res){
					console.log(res.placa);
					if (res.placa == 0) {
						document.getElementById('placa_termica').innerHTML = "Está APAGADO"
						document.getElementById("placa_termica").style.background = "#ff5b5a";    //rojo
					}

				},
				error: function(){
					alert("Hubo algun tipo de error.");
					}
			});
		}else{
			console.log("PRENDER PLACA TERMICA")
			//etá apagado, hay que prenderlo
			$.ajax({
				url: 'http://localhost:8000/botones/update/'+id+'',
				contentType:"application/json; charset: utf-8",
				crossDomain: true,
				withCredentials:false,
				type: 'put',
				data: '{"nombre": "placa_termica", "valor": "1"}',

				success: function (res){
					console.log(res.placa);
					if (res.placa == 0) {
						document.getElementById('placa_termica').innerHTML = "Está PRENDIDO"
						document.getElementById("placa_termica").style.background = "#ff5b5a";    //rojo
					}

				},
				error: function(){
					alert("Hubo algun tipo de error.");
					}
			});
		}

	});

	$('#catarata')
	.click(function(e){
		console.log("UPDATE CATARATA")
		var estado_placa
		if (document.getElementById('catarata').innerHTML == "Está PRENDIDO"){
			//está prendido, hay que apagarlo
			console.log("APAGAR CATARATA")
			$.ajax({
				url: 'http://localhost:8000/botones/update/'+id+'',
				contentType:"application/json; charset: utf-8",
				crossDomain: true,
				withCredentials:false,
				type: 'put',
				data: '{"nombre": "catarata", "valor": "0"}',
				success: function (res){
					console.log(res.placa);
					if (res.placa == 0) {
						document.getElementById('catarata').innerHTML = "Está APAGADO"
						document.getElementById("catarata").style.background = "#ff5b5a";    //rojo
					}

				},
				error: function(){
					alert("Hubo algun tipo de error.");
					}
			});
		}else{
			console.log("PRENDER CATARATA")
			//etá apagado, hay que prenderlo
			$.ajax({
				url: 'http://localhost:8000/botones/update/'+id+'',
				contentType:"application/json; charset: utf-8",
				crossDomain: true,
				withCredentials:false,
				type: 'put',
				data: '{"nombre": "catarata", "valor": "1"}',

				success: function (res){
					console.log(res.placa);
					if (res.placa == 0) {
						document.getElementById('catarata').innerHTML = "Está PRENDIDO"
						document.getElementById("catarata").style.background = "#ff5b5a";    //rojo
					}

				},
				error: function(){
					alert("Hubo algun tipo de error.");
					}
			});
		}

	});
	</script>
</html>
