<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Botones</title>
	<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
	<style>
        li {
            display: inline;
        }

        /* Style the navigation bar */
        .navbar {
        width: 100%;
        background-color: #555;
        overflow: auto;
        }

        /* Navbar links */
        .navbar a {
        float: left;
        text-align: center;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
        }

        /* Navbar links on mouse-over */
        .navbar a:hover {
        background-color: #000;
        }

        /* Current/active navbar link */
        .active {
        background-color: #4CAF50;
        }

        /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
        @media screen and (max-width: 500px) {
        .navbar a {
            float: none;
            display: block;
        }
        }
        .emergencia{
            background-color: #00b300;
            height:100px;
            padding: 20px 20px;
            border: solid;
			border-color: #3333ff;
        }
        .bo{
			background-color: #ccffcc;
			text-align:center;
			padding: 25px;
		}
	 </style>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="bo" onload="CargarBotones()">

	

	<div class="navbar">
		<a class="active" href="http://localhost:8080/panel"><i class="fa fa-fw fa-linux"></i> Home</a> 
		<a href="http://localhost:8080/panel"><i class="fa fa-fw fa-hand-rock-o"></i> Panel Principal</a> 
		<a href="http://localhost:8080/perfil"><i class="fa fa-fw fa-code-fork"></i> Perfil de Comfiguración</a> 
		<a href="http://localhost:8080/botones"><i class="fa fa-fw fa-bullseye"></i> Botones de Emergencia</a>
        <a href="http://localhost:8080/"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
	</div>
	


	<h1>BOTONES DE EMERGENCIA</h2>
    
		<br><br>
        <h2>GESTIONAR PLACA</h2>
		<button class="emergencia" type="submit" id="apagarplaca" value="placa">
			  <h3>GESTIONAR PLACA </h3> 
		</button>

    
		<h2>GESTIONAR BOMBILLO </h2>
		<br><br>
		<button class="emergencia" type="submit" id="apagarbombillo" value="bombillo">
	    <h3>GESTIONAR BOMBILLO </h3> 
		</button>

        <br><br>
		<h2>GESTIONAR CASCADA </h2>
		<button class="emergencia" type="submit" id="apagarcascada" value="cascada">
        <h3>GESTIONAR CASCADA </h3> 
		</button>

        <br><br>
		<h2>GESTIONAR UV </h2>
		<br><br>
		<button class="emergencia" type="submit" id="apagaruv" value="uv">
            <h3>GESTIONAR UV </h3> 
		</button>

</body>

	<script>
		var id=localStorage.getItem("id_cliente")
		console.log("identificador de sesion:")
		console.log(id)

		function CargarBotones(){
				$.ajax({
					url: 'http://localhost:8000/botones/',
					contentType:"application/json; charset: utf-8",
					crossDomain: true,
					withCredentials:false,
					type: 'GET',
					success: function (res){
						console.log("Apagar o encender equipos")
						console.log(res.placa)
						console.log(res.bombillo)


						if (res.placa == 'true') {
						alert("Placa esta Apagado y se debe encender");
						document.getElementById('apagarplaca').innerHTML = res.placa
						document.getElementById("apagarplaca").style.background = "#ff0000";
						} else {
							alert("Placa esta Encendido, se debe apagar");
							document.getElementById("apagarplaca").style.background = "red";
						}

						if (res.bombillo == 'true') {
						alert("Bombillo esta Apagado y se debe encender");
						document.getElementById('apagarbombillo').innerHTML = res.bombillo
						document.getElementById("apagarbombillo").style.background = "#ff0000";
						} else {
							alert("Bombillo esta Encendido, se debe apagar");
							document.getElementById("apagarbombillo").style.background = "red";
						}

						if (res.cascada == 'true') {
						alert("Cascada esta Apagado y se debe encender");
						document.getElementById('apagarcascada').innerHTML = res.cascada
						document.getElementById("apagarcascada").style.background = "#ff0000";
						} else {
							alert("Cascada esta Encendido, se debe apagar");
							document.getElementById("apagarcascada").style.background = "red";
						}

						if (res.uv == 'true') {
						alert("Uv esta Apagado y se debe encender");
						document.getElementById('apagaruv').innerHTML = res.uv
						document.getElementById("apagaruv").style.background = "#ff0000";
						} else {
							alert("Uv esta Encendido, se debe apagar");
							document.getElementById("apagaruv").style.background = "red";
						}
					
			},
			});
		}
	</script>
	<script>
		$('#apagarplaca')
		.click(function(e){
		placaoff = document.getElementById('apagarplaca'.value);
		var gestionplaca ='{"placaoff": "'+placaoff+'"}';
		console.log("Placa Esta encendida")
		console.log(gestionplaca)
		$.ajax({
				data: gestionplaca,
				url: 'http://localhost:8000/botones/',
				contentType:"application/json; charset: utf-8",
				crossDomain: true,
				withCredentials:false,
				type: 'post',
				beforeSend: function(){
					window.alert("Procesando, espere porfavor...");
				},
				success: function (res){
					console.log(res);
					if (placaoff == true) {
						alert("Esta Apagado y se debe encender");
						document.getElementById("apagarplaca").style.background = "#ff0000";
					} else {
						alert("Esta Encendido, se debe apagar");
						document.getElementById("apagarplaca").style.background = "yellow";
					}
					window.location.replace('/botones')
					},
				error: function(){
					alert("Hubo algun tipo de error.");		
				}
				});
		});
	</script>





<script>
$('#apagarbombillo')
.click(function(e){
	bombillooff = true;
	var gestionarbombillo ='{"bombillooff": "'+bombillooff+'"}';
	$.ajax({
		data: gestionarbombillo,
		url: 'http://localhost:8000/botones',
		contentType:"application/json; charset: utf-8",
		crossDomain: true,
		withCredentials:false,
		type: 'post',
		beforeSend: function(){
				window.alert("Procesando, espere porfavor...");
		},
		success: function (res){
			console.log(res);
			if (bombillooff == true) {
			alert("Esta Apagado");
			document.getElementById("apagarbombillo").style.background = "#ff0000";
			}
			else {
			alert("Esta Encendido");
			document.getElementById("apagarbombillo").style.background = "yellow";
			}
			window.location.replace('/botones')
		},
		error: function(){
			alert("Hubo algun tipo de error.");
		}
	});
});

</script>

<script>
$('#apagarcascada')
.click(function(e){
cascadaoff = true;
var gestionarcascada ='{"cascadaoff": "'+cascadaoff+'"}';
$.ajax({
	data: gestionarcascada,
	url: 'http://localhost:8000/botones',
	contentType:"application/json; charset: utf-8",
	crossDomain: true,
	withCredentials:false,
	type: 'post',
	beforeSend: function(){
			window.alert("Procesando, espere porfavor...");
	},
	success: function (res){
		console.log(res);
		if (cascadaoff == true) {
			alert("Esta Apagado");
			document.getElementById("apagarcascada").style.background = "#ff0000";
			}
			else {
			alert("Esta Encendido");
			document.getElementById("apagarcascada").style.background = "yellow";
			}
			window.location.replace('/botones')
		},
	error: function(){
			alert("Hubo algun tipo de error.");
		},
	});
});
</script>




<script>
$('#apagaruv')
.click(function(e){
uvoff = true;
var gestionaruv ='{"uvoff": "'+uvoff+'"}';
$.ajax({
	data: gestionaruv,
	url: 'http://localhost:8080/botones',
	contentType:"application/json; charset: utf-8",
	crossDomain: true,
	withCredentials:false,
	type: 'post',
	beforeSend: function(){
			window.alert("Procesando, espere porfavor...");
	},
	success: function (res){
		console.log(res);
		if (uvoff == true) {
			alert("Esta Apagado");
			document.getElementById("apagaruv").style.background = "#ff0000";
			}
			else {
			alert("Esta Encendido");
			document.getElementById("apagaruv").style.background = "yellow";
			}
		window.location.replace('/botones')
	},
	error: function(){
		alert("Hubo algun tipo de error.");
	}
	});
});

</script>
</html>
