<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Botones</title>
	<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
	<style>

	body, html {
		height: 100%;
		background-image: url("https://wallpapercave.com/wp/wp2165344.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
	* {
			box-sizing: border-box;
		}
        li {
            display: inline;
        }

        /* Style the navigation bar */
        .navbar {
        width: 100%;
        background-color: #555;
        overflow: auto;
        }

        /* Navbar links */
        .navbar a {
        float: left;
        text-align: center;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
        }

        /* Navbar links on mouse-over */
        .navbar a:hover {
        background-color: #000;
        }

        /* Current/active navbar link */
        .active {
        background-color: #4CAF50;
        }

        /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
        @media screen and (max-width: 500px) {
        .navbar a {
            float: none;
            display: block;
        }
        }

		.columna2{
			float: right;
				}

		.columna{
				float: left;
			}

		.css_boton {
			height:100px;
			width: 250px;
			border: solid;
			border-color: #3333ff;
			font-style: italic;
			color: black;
			font-size: 20px;
		}

		.row:after {
	    content: "";
	    display: table;
	    clear: both;
		}

		.txt{
			color: white
		}


	 </style>/
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>



	<div class="navbar">
		<a href="http://localhost:8080/panel"><i class="fa fa-fw fa-linux"></i> Home</a>
    <a href="http://localhost:8080/alarmas"><i class="fa fa-fw fa-hand-rock-o"></i> Alarmas</a>
		<a href="http://localhost:8080/perfil"><i class="fa fa-fw fa-code-fork"></i> Perfil de Comfiguración</a>
		<a class="active" href="http://localhost:8080/botones"><i class="fa fa-fw fa-bullseye"></i> Botones de Emergencia</a>
    <a href="http://localhost:8080/"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
	</div>


<h1 class = "txt">BOTONES DE EMERGENCIA</h2>
	<div class = "row">
		<div class = "columna">
			<br><br>
			<h2 class = "txt">LUZ ULTRA VIOLETA </h2>
			<br><br>
			<button class = "css_boton" type="submit" id="apagaruv" value="uv">
			</button>

			<h2 class = "txt">FOCO TERMICO </h2>
			<br><br>
			<button class = "css_boton" type="submit" id="apagarbombillo" value="bombillo">
			</button>
		</div>

		<div class = "columna2">
			<br><br>
	        <h2 class = "txt">PLACA TERMICA</h2>
			<button class = "css_boton" type="submit" id="apagarplaca" value="placa">
			</button>


	        <br><br>
			<h2 class = "txt">CASCADA AUTOMÁTICA </h2>
			<button class = "css_boton" type="submit" id="apagarcascada" value="cascada">
			</button>
		</div>
	</div>
</body>

	<script>
	$(document).ready(function () {
		//------------------------get info botones
			$.ajax({
				url: 'http://localhost:8000/botones/',
				contentType:"application/json; charset: utf-8",
				crossDomain: true,
				withCredentials:false,
				type: 'GET',
				success: function (res){
					console.log("GET - BOTONES")

					if (res.placa == 'true') {
						document.getElementById('apagarplaca').innerHTML = "Está PRENDIDO";
						document.getElementById("apagarplaca").style.background = "#00FF00";
					} else {
						document.getElementById('apagarplaca').innerHTML = "Está APAGADO";
						document.getElementById("apagarplaca").style.background = "#ff5b5a";
					}
					if (res.bombillo == 'true') {
						document.getElementById('apagarbombillo').innerHTML = "Está PRENDIDO";
						document.getElementById("apagarbombillo").style.background = "#00FF00";
					} else {

						document.getElementById('apagarbombillo').innerHTML = "Está APAGADO";
						document.getElementById("apagarbombillo").style.background = "#ff5b5a";
						console.log(localStorage.getItem('estadobombillo'));
					}
					if (res.cascada == 'true') {

						document.getElementById('apagarcascada').innerHTML = "Está PRENDIDO";
						document.getElementById("apagarcascada").style.background = "#00FF00";
					} else {

						document.getElementById('apagarcascada').innerHTML = "Está APAGADO";
						document.getElementById("apagarcascada").style.background = "#ff5b5a";
					}
					if (res.uv == 'true') {
						document.getElementById('apagaruv').innerHTML = "Está PRENDIDO";
						document.getElementById("apagaruv").style.background = "#00FF00";
					} else {
						document.getElementById('apagaruv').innerHTML = "Está APAGADO";
						document.getElementById("apagaruv").style.background = "#ff5b5a";
					}
				}
			});
		});

	$('#apagarplaca')
	.click(function(e){
		console.log("Inicio de cambio de estado de Placa")
		var estado_placa
		if (document.getElementById('apagarplaca').innerHTML == "Está PRENDIDO"){
			estado_placa = 1
		}else{
			estado_placa = 0
		}
		//if boton de apagar placa color == verde entonces manda un ajax apagandolo, y cmo respuesta cambie el color del boton a rojo
		$.ajax({
			url: 'http://localhost:8000/botones/placa/',
			contentType:"application/json; charset: utf-8",
			crossDomain: true,
			withCredentials:false,
			type: 'put',
			data: '{"nombre": "placa", "valor": "'+estado_placa+'"}'

			success: function (res){
				console.log(res.placa);
				if (res.placa == "true") {
					document.getElementById('apagarplaca').innerHTML = "Está PRENDIDO";
					document.getElementById("apagarplaca").style.background = "#00FF00";  //verde
				}
				else {
					document.getElementById('apagarplaca').innerHTML = "Está APAGADO"
					document.getElementById("apagarplaca").style.background = "#ff5b5a";    //rojo
				}

			},
			error: function(){
				alert("Hubo algun tipo de error.");
				}
		});
	});
/*
		$('#apagarbombillo')
		.click(function(e){
			console.log("Inicio de cambio de estado de Bombillo")
			$.ajax({
				url: 'http://localhost:8000/botones/bombillo/',
				contentType:"application/json; charset: utf-8",
				crossDomain: true,
				withCredentials:false,
				type: 'post',
				beforeSend: function(){
					window.alert("Procesando, espere porfavor...");
				},
				success: function (res){
					console.log(res.bombillo);
					if (res.bombillo == "true") {
						alert("bombillo esta encendida y se apaga");
						document.getElementById('apagarbombillo').innerHTML = res.bombillo;
						document.getElementById("apagarbombillo").style.background = "#00FF00";  //verde
						localStorage.setItem('estadobombillo',res.bombillo);
					}	else {		alert("bombillo esta Apagada y se enciende");
						document.getElementById('apagarbombillo').innerHTML = res.bombillo
						document.getElementById("apagarbombillo").style.background = "#ff5b5a";    //rojo
						localStorage.setItem('estadobombillo',res.bombillo);
					}

					},
				error: function(){
					alert("Hubo algun tipo de error.");
					}
			});
		});


		$('#apagarcascada')
		.click(function(e){
			console.log("Inicio de cambio de estado de Cascada")
			$.ajax({
				url: 'http://localhost:8000/botones/cascada/',
				contentType:"application/json; charset: utf-8",
				crossDomain: true,
				withCredentials:false,
				type: 'post',
				beforeSend: function(){
					window.alert("Procesando, espere porfavor...");
				},
				success: function (res){
					console.log(res.cascada);
					if (res.cascada == "true") {
						alert("cascada esta encendida y se apaga");
						document.getElementById('apagarcascada').innerHTML = res.cascada;
						document.getElementById("apagarcascada").style.background = "#00FF00";  //verde
						localStorage.setItem('estadocascada',res.cascada);
					}	else {		alert("cascada esta Apagada y se enciende");
						document.getElementById('apagarcascada').innerHTML = res.cascada
						document.getElementById("apagarcascada").style.background = "#ff5b5a";    //rojo
						localStorage.setItem('estadocascada',res.cascada);
					}

					},
				error: function(){
					alert("Hubo algun tipo de error.");
					}
			});
		});

		$('#apagaruv')
		.click(function(e){
			console.log("Inicio de cambio de estado de Uv")
			$.ajax({
				url: 'http://localhost:8000/botones/uv/',
				contentType:"application/json; charset: utf-8",
				crossDomain: true,
				withCredentials:false,
				type: 'post',
				beforeSend: function(){
					window.alert("Procesando, espere porfavor...");
				},
				success: function (res){
					console.log(res.uv);
					if (res.uv == "true") {
						alert("uv esta encendida y se apaga");
						document.getElementById('apagaruv').innerHTML = res.uv;
						document.getElementById("apagaruv").style.background = "#00FF00";  //verde
						localStorage.setItem('estadouv',res.uv);
					}	else {		alert("uv esta Apagada y se enciende");
						document.getElementById('apagaruv').innerHTML = res.uv
						document.getElementById("apagaruv").style.background = "#ff5b5a";    //rojo
						localStorage.setItem('estadouv',res.uv);
					}

					},
				error: function(){
					alert("Hubo algun tipo de error.");
					}
			});
		});
		*/
	</script>
</html>
