<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>INICIAR SESION</title>
	<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
	<style>
	body, html {
		height: 100%;
		text-align:center;
}

		.bg {
		background-image: url("http://animalsbirds.com/wp-content/uploads/2017/04/Veiled-Chameleon-HD-Wallpapers-background-1024x640.jpg");
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
}
	 .confir{
			background-color: #32CD32;
			height:10%;
			padding: 10px 10px;
			font-size: 32px;
			border: ridge;
			width: 250px;
			font-style: italic;
			color:black;
			}
		.regis{
			background-color: #87CEEB;
			height:10%;
			padding: 10px 10px;
			font-size: 32px;
			border: ridge;
			width: 250px;
			font-style: italic;
			color: black;
			}
		.inpu{
			background-color: pink;
			background: rgba(239,143,232,0.5);
      height:20px;
      padding: 20px 20px;
			border: solid;
			border-color: blue;
			font-size: 30px;
			font-weight: bold;
			width: 50%;
			margin-bottom: 100px;
        }
		.confir:hover {
		    background-color: #006400;
				color:white;
		}

		.regis:hover {
				background-color: #800080;
				color:white;
		}
		.tx{
			font-style: italic;
			}
	</style>
	<h1 class = "tx"> Iniciar Sesión</h1>
</head>
<body>
	<div class="bg">
		<br>
		<br>
		<br>
		<br>
		<input type="text" name="NOMBRE" id="NOMBRE" placeholder="NOMBRE" class="inpu">

		<br><br>

		<input type="text" name="PASSWORD" id="PASSWORD" placeholder="CONSTRASEÑA" class="inpu">

		<br><br>

		<button type="submit" id="boton" class="confir">
			Ingresar
		</button>


		<button onclick="window.location.href='http://localhost:8080/register'" class="regis">Registrarse</button>
		<br>
		<br>
		<div id="Error"></div>
	</div>
</body>
<script>

//--------------------------LOGIN---------------------------
$('#boton')
.click(function(e){
nombre = document.getElementById('NOMBRE').value;
password = document.getElementById('PASSWORD').value;
var usuario ='{"nombre": "'+nombre+'","password": "'+password+'"}';
console.log("INICIAR SESION")
console.log(usuario)
$.ajax({
	data: usuario,
	url: 'http://localhost:8000/',
	contentType:"application/json; charset: utf-8",
	crossDomain: true,
	withCredentials:false,
	type: 'post',
	success: function (res){
		console.log("respuesta")
		console.log(res);
		if (typeof(Storage) !== "undefined") {
		   localStorage.setItem("id_cliente", res.id_cliente);
				window.location.replace('/panel')
		} else {
		    alert(":( no web storage supported)")
		}
	},
	error: function(){
		document.getElementById('Error').innerHTML = "El usuario no existe :( "
	}
	});
});

</script>
</html>
