<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>PANEL PRINCIPAL</title>
	<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
<style>
body, html {
	height: 100%;
	background-image: url("https://c.wallhere.com/photos/5e/ee/bearded_dragon_reflection_lizard_reptile-1115652.jpg!d");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
		li {
				display: inline;
		}
		/* Style the navigation bar */
		.navbar {
		width: 100%;
		background-color: #555;
		overflow: auto;
		}
		/* Navbar links */
		.navbar a {
		float: left;
		text-align: center;
		padding: 12px;
		color: white;
		text-decoration: none;
		font-size: 17px;
		}
		/* Navbar links on mouse-over */
		.navbar a:hover {
		background-color: #000;
		}
		/* Current/active navbar link */
		.active {
		background-color: #4CAF50;
		}
		/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
		@media screen and (max-width: 500px) {
		.navbar a {
			float: none;
			display: block;
		}
		}

		.panel{
			background: rgba(250,185,80,0.5);
			float: left;
			width: 30%;
			font-size: 20px;
			font-style: italic;
			color:black;
		}




	</style>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="navbar">
		<a class="active" href="http://localhost:8080/panel"><i class="fa fa-fw fa-linux"></i> Home</a>
    <a href="http://localhost:8080/alarmas"><i class="fa fa-fw fa-hand-rock-o"></i> Alarmas</a>
		<a href="http://localhost:8080/perfil"><i class="fa fa-fw fa-code-fork"></i> Perfil de Configuración</a>
		<a href="http://localhost:8080/botones"><i class="fa fa-fw fa-bullseye"></i> Botones de Emergencia</a>
    <a href="http://localhost:8080/"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
	</div>
	<br>
	<br>
	<br>
	<div class = "panel">
	<h1>PANEL PRINCIPAL</h1>
	<h2>Sensores</h2>
	<br>
	<p>
		Temperatura zona calor: <output id="temp_sol"></output>
		<br>
		Temperatura Terrario: <output id="temp_terrario"></output>
		<br>
		Humedad Terrario: <output id="temp_humedad"></output>
	</p>
	<h2>Accesorios</h2>
	<br>
	<p>
		Foco UV:  <output id="foco_uv"></output>
		<br>
		Foco Termico:  <output id="foco_termico"></output>
		<br>
		Placa Termica:  <output id="placa_termica"></output>
		<br>
		Catarata Automática:  <output id="catarata"></output>
	</p>
</div>

</body>
<script>

$(document).ready(function () {
//--------------GET ID-----------

var id=localStorage.getItem("id_cliente")
console.log("el id del cliente ingresado es:")
console.log(id)

//------------GET SENSORES---------------------
$.ajax({
	url: 'http://localhost:8000/sensores/'+id+'',
	contentType:"application/json; charset: utf-8",
	crossDomain: true,
	withCredentials:false,
	type: 'GET',
	success: function (res){
		console.log("SENSOR - TEMPERATURA SOL")
		console.log(res);
		document.getElementById('temp_sol').value = res.sol
		document.getElementById('temp_terrario').value = res.terrario
		document.getElementById('temp_humedad').value = res.humedad
	},
	error: function(){
		alert("Hubo algun tipo de error.");
	}
	});

	//------------GET OBJETOS---------------------
$.ajax({
	url: 'http://localhost:8000/accesorios/'+id+'',
	contentType:"application/json; charset: utf-8",
	crossDomain: true,
	withCredentials:false,
	type: 'GET',
	success: function (res){
		console.log("SENSOR - TEMPERATURA SOL")
		console.log(res);
		if (res.uv == 1){
			document.getElementById('foco_uv').value = "ON"
		}else{
			document.getElementById('foco_uv').value = "OFF"
		}
		if (res.focotermico == 1){
			document.getElementById('foco_termico').value = "ON"
		}else{
			document.getElementById('foco_termico').value = "OFF"
		}
		if (res.placatermica == 1){
			document.getElementById('placa_termica').value = "ON"
		}else{
			document.getElementById('placa_termica').value = "OFF"
		}
		if (res.catarata == 1){
			document.getElementById('catarata').value = "ON"
		}else{
			document.getElementById('catarata').value = "OFF"
		}
	},
	error: function(){
		alert("Hubo algun tipo de error.");
	}
	});


});
//-----------------BOTON SALIR----------------------
$('#salir')
.click(function(e){
localStorage.removeItem("id_cliente");
});
</script>

</html>
