<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>PERFIL</title>
	<script src = "https://code.jquery.com/jquery-1.10.2.js"> </script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">	</script>
	<style>
	body, html {
		height: 100%;
		background-image: url("https://wpblink.com/sites/default/files/wallpaper/animal/66185/lizard-wallpapers-hd-66185-9461845.png");
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
}
		li {
				display: inline;
		}
		/* Style the navigation bar */
		.navbar {
		width: 100%;
		background-color: #555;
		overflow: auto;
		}
		/* Navbar links */
		.navbar a {
		float: left;
		text-align: center;
		padding: 12px;
		color: white;
		text-decoration: none;
		font-size: 17px;
		}
		/* Navbar links on mouse-over */
		.navbar a:hover {
		background-color: #000;
		}
		/* Current/active navbar link */
		.active {
		background-color: #4CAF50;
		}
		/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
		@media screen and (max-width: 500px) {
		.navbar a {
			float: none;
			display: block;
		}
		}

		* {
    box-sizing: border-box;
		}
		.columna{
			float: left;
			padding: 10px;
		}

		.info_persona{
			background: rgba(239,143,232,0.5);
			float: left;
			width: 48%;
			padding: 10px 10px;
			border: solid;
			border-color: red;
			font-size: 32px;
			font-style: italic;
			color:black;
		}

		.css_reptil{
			background: rgba(80,250,213,0.5);
			float: right;
			width: 48%;
			padding: 10px 10px;
			border: solid;
			border-color: green;
			font-size: 32px;
			font-style: italic;
			color:black;

		}

		.css_automatizacion{
			background: rgba(249,216,31,0.5);
			float: left;
			width: 48%;
			height: 100%;
			padding: 10px 10px;
			border: solid;
			border-color: yellow;
			font-size: 32px;
			font-style: italic;
			color:black;
		}

	.row:after {
	    content: "";
	    display: table;
	    clear: both;
	}

	.confir{
		 background-color: #32CD32;
		 height:10%;
		 padding: 10px 10px;
		 font-size: 20px;
		 border: ridge;
		 width: 100px;
		 font-style: italic;
		 color:black;
		 }

	.confir:hover {
			background-color: #006400;
			color:white;
	}

	.regis{
		background-color: #87CEEB;
		height:10%;
		padding: 10px 10px;
		font-size: 32px;
		border: ridge;
		width: 250px;
		font-style: italic;
		color: black;
		}

	.regis:hover {
			background-color: #800080;
			color:white;
	}

	.desplegable {
		font-style: italic;
		font-size: 20px;
	}

	</style>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="navbar">
		<a href="http://localhost:8080/panel"><i class="fa fa-fw fa-linux"></i> Home</a>
    <a href="http://localhost:8080/alarmas"><i class="fa fa-fw fa-hand-rock-o"></i> Alarmas</a>
		<a class="active" href="http://localhost:8080/perfil"><i class="fa fa-fw fa-code-fork"></i> Perfil de Configuración</a>
		<a href="http://localhost:8080/botones"><i class="fa fa-fw fa-bullseye"></i> Botones de Emergencia</a>
    <a href="http://localhost:8080/"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
	</div>

<div class = "row">
	<h1>PERFIL PERSONA</h1>
	<div class = "columna info_persona">
		<div style = "float: left">Nombre :</div>
		<div style = "float: left;width: 100px;height: 20px;" contentEditable="true" id="nombre">	</div>
		<br>
		<br>

	Tipo Reptil:
		<select class = "desplegable" id="tipo" >
	  	<option value="iguana">Iguana</option>
	  	<option value="dragon">Dragón Barbudo</option>
	  	<option value="gecko">Gecko</option>
	  	<option value="piton">Pitón</option>
		</select>
		<br>
		<br>

		<div style = "float: left">Fecha Nacimiento Reptil :</div>
		<div style = "float: left;width: 100px;height: 20px;" contentEditable="true" id="nacimiento">	</div>
		<br>
		<br>

		<button style = "float: right" type="submit" id="update_perfil" class = "confir">
			Guardar Cambios
		</button>
		<br>
		<br>
	</div>

	<h1  style = "float: right; width: 48%;" >CONFIG REPTIL</h1>
	<br>
	<div class = "columna css_reptil">
	Elegir Configuraión:
	<select class = "desplegable" id="config" onchange="Change()" >
		<option value="iguana">Iguana</option>
		<option value="dragon">Dragón Barbudo</option>
		<option value="gecko">Gecko</option>
		<option value="piton">Pitón</option>
		<option value="personalizada">Personalizada</option>
	</select>
	<br>
	<br>

	<div style = "float:left">Temperatura Zona calor Máxima :</div>
	<div class ="reptile" style = "float:left;width: 50px;height: 20px;" contentEditable="true" id="sol_max"></div>
	<br>
	<br>
	<div style="float:left">Temperatura Zona calor Mínima :</div>
	<div class ="reptile" style = "float:left;width: 50px;height: 20px;" contentEditable="true" id="sol_min"></div>
	<br>
	<br>
	<div style="float:left">Temperatura Terrario Máxima :</div>
	<div class ="reptile" style = "float:left;width: 50px;height: 20px;" contentEditable="true" id="temp_max"></div>
	<br>
	<br>
	<div style = "float:left">Temperatura Terrario Mínima :</div>
	<div class ="reptile" style = "float:left;width: 50px;height: 20px;" contentEditable="true" id="temp_min"></div>
	<br>
	<br>
	<div style = "float:left">Humedad Terrario Mínima :</div>
	<div class ="reptile" style = "float:left;width: 50px;height: 20px;" contentEditable="true" id="humedad_min"></div>
	<br>
	<br>
	<div style = "float:left">Luz UV dia (prender luz uv):</div>
	<div class ="reptile" style = "float:left;width: 50px;height: 20px;" contentEditable="true" id="uv_inicio"></div>
	<br>
	<br>
	<div style = "float:left">Luz UV noche (apagar luz uv):</div>
	<div class ="reptile" style = "float:left;width: 50px;height: 20px;" contentEditable="true" id="uv_tiempo"></div>
	<br>
	<br>
	<div style = "float:left">Tiempo de encendido Catarata Automatica :</div>
	<div class ="reptile" style = "float:left;width: 50px;height: 20px;" contentEditable="true" id="catarata_on"></div>
	<br>
	<br>
	<div style = "float:left">Tiempo apagado Catarata Automatica :</div>
	<div class ="reptile" style = "float:left;width: 50px;height: 20px;" contentEditable="true" id="catarata_off"></div>

	<button style = "float:right" class = "confir" type="submit" id="update_reptil">
		Guardar Cambios
	</button>
	<br>
	<br>
</div>

	<h1>AUTOMATIZACIÓN TERRARIO</h1>
	<div class = "columna css_automatizacion">
	<p>En esta sección se debe clickear lo que se desea que esté automatizado, por default todo está en manual</p>
	<br>
	<input type="checkbox" onclick="AutoSol()"  id = "temp_sol" value="temp_sol"> Automatizar temperatura Zona Calor del terrario
	<br>
	<input type="checkbox" onclick="AutoTerrario()" id = "temp_terrario" value="temp_terrario"> Automatizar temperatura Terrario
	<br>
	<input type="checkbox" onclick="AutoHumedad()" id = "humedad" value="humedad"> Automatizar humedad Terrario
	<br>
	<input type="checkbox" onclick="AutoLuminocidad()" id = "luminocidad" value="luminocidad"> Automatizar hora luz terrario
	<br>
</div>
	<button style="float:right" class = "regis" id="salir" onclick="window.location.href='http://localhost:8080/'">Salir</button>
</div>


	<script>
	var id=localStorage.getItem("id_cliente")
	console.log("el id del cliente ingresado es:")
	console.log(id)


	$(document).ready(function () {
	//-------------------GET INFO CLIENTE-----------------------
	$.ajax({
		url: 'http://localhost:8000/perfil/'+id+'',
		contentType:"application/json; charset: utf-8",
		crossDomain: true,
		withCredentials:false,
		type: 'GET',
		success: function (res){
			console.log("INICIAR PAGINA - GET info Persona se envia ID")
			console.log("respuesta")
			console.log(res);
			document.getElementById('nombre').innerHTML=res.nombre
			document.getElementById('nacimiento').innerHTML=res.nacimiento
			if(res.tipo != "Nada"){
				document.getElementById('tipo').value=res.tipo
			}
		},
		error: function(){
			alert("Hubo algun tipo de error.");
		}
		});

	//-----------------------GET INFO REPTIL----------------------
	$.ajax({
		url: 'http://localhost:8000/reptil/'+id+'',
		contentType:"application/json; charset: utf-8",
		crossDomain: true,
		withCredentials:false,
		type: 'GET',
		success: function (res){
			console.log("INICIAR PAGINA - GET info Reptil se envia ID")
			console.log("respuesta")
			console.log(res);
			document.getElementById('sol_max').innerHTML = res.sol_max
			document.getElementById('sol_min').innerHTML = res.sol_min
			document.getElementById('temp_max').innerHTML = res.temp_max
			document.getElementById('temp_min').innerHTML = res.temp_min
			document.getElementById('humedad_min').innerHTML = res.humedad_min
			document.getElementById('config').value = res.config_chosen
			document.getElementById('uv_inicio').innerHTML = res.uv_inicio
			document.getElementById('uv_tiempo').innerHTML = res.uv_tiempo
			document.getElementById('catarata_on').innerHTML = res.catarata_on
			document.getElementById('catarata_off').innerHTML = res.catarata_off
		},
		});
		//-------------GET AUTO PERFIL---------------------------
	$.ajax({
		url: 'http://localhost:8000/auto/sol/'+id+'',
		contentType:"application/json; charset: utf-8",
		crossDomain: true,
		withCredentials:false,
		type: 'GET',
		success: function (res){
			console.log("INICIAR PAGINA - GET AUTO SOL se envia ID")
			console.log("respuesta")
			console.log(res);
			$.ajax({
				url: 'http://localhost:8000/auto/terrario/'+id+'',
				contentType:"application/json; charset: utf-8",
				crossDomain: true,
				withCredentials:false,
				type: 'GET',
				beforeSend: function () {
				},
				success: function (res_terrario){
					console.log("INICIAR PAGINA - GET AUTO TERRARIO se envia ID")
					console.log("respuesta")
					console.log(res_terrario);
					if (res_terrario.estado == 1) {
						$("#temp_terrario").attr("checked","checked");
					}else{
						$("#temp_terrario").removeAttr("checked","checked");
					}
				}
				});

			$.ajax({
				url: 'http://localhost:8000/auto/humedad/'+id+'',
				contentType:"application/json; charset: utf-8",
				crossDomain: true,
				withCredentials:false,
				type: 'GET',
				beforeSend: function () {
				},
				success: function (res_humedad){
					console.log("INICIAR PAGINA - GET AUTO HUMEDAD se envia ID")
					console.log("respuesta")
					console.log(res_humedad);
					if (res_humedad.estado == 1) {
						$("#humedad").attr("checked","checked");
					}else{
						$("#humedad").removeAttr("checked","checked");
					}
				}
				});

			$.ajax({
				url: 'http://localhost:8000/auto/luminocidad/'+id+'',
				contentType:"application/json; charset: utf-8",
				crossDomain: true,
				withCredentials:false,
				type: 'GET',
				beforeSend: function () {
				},
				success: function (res_luminocidad){
					console.log("INICIAR PAGINA - GET AUTO LUMINOCIDAD se envia ID")
					console.log("respuesta")
					console.log(res);
					if (res_luminocidad.estado == 1) {
						$("#luminocidad").attr("checked","checked");
					}else{
						$("#luminocidad").removeAttr("checked","checked");
					}
				}
				});

			if (res.estado == 1) {
				$("#temp_sol").attr("checked","checked");
			}else{
				$("#temp_sol").removeAttr("checked","checked");
			}
		}
		});





	 });

//----------------CAMBIAR PARAMETROS DE REPTIL, MEDIANTE MENU DESPLEGABLE
//si es personalizada, carga denuevo su config
		function Change(){
		var config_default = document.getElementById("config").value;
		if (config_default == "personalizada"){
			$.ajax({
				url: 'http://localhost:8000/reptil/'+id+'',
				contentType:"application/json; charset: utf-8",
				crossDomain: true,
				withCredentials:false,
				type: 'GET',
				success: function (res){
					console.log("CAMBIAR DROPDOWN - GET configuración Reptil Personalizada")
					console.log(res)
					document.getElementById('sol_max').innerHTML = res.sol_max
					document.getElementById('sol_min').innerHTML = res.sol_min
					document.getElementById('temp_max').innerHTML = res.temp_max
					document.getElementById('temp_min').innerHTML = res.temp_min
					document.getElementById('humedad_min').innerHTML = res.humedad_min
					document.getElementById('uv_inicio').innerHTML = res.uv_inicio
					document.getElementById('uv_tiempo').innerHTML = res.uv_tiempo
					document.getElementById('catarata_on').innerHTML = res.catarata_on
					document.getElementById('catarata_off').innerHTML = res.catarata_off
				},
			 });
		}else{
		$.ajax({
			url: 'http://localhost:8000/defaults/'+config_default+'',
			contentType:"application/json; charset: utf-8",
			crossDomain: true,
			withCredentials:false,
			type: 'GET',
			success: function (res){
				console.log("CAMBIAR DROPDOWN - GET configuración Reptil Default")
				console.log(res);
				document.getElementById('sol_max').innerHTML = res.sol_max
				document.getElementById('sol_min').innerHTML = res.sol_min
				document.getElementById('temp_max').innerHTML = res.temp_max
				document.getElementById('temp_min').innerHTML = res.temp_min
				document.getElementById('humedad_min').innerHTML = res.humedad_min
				document.getElementById('uv_inicio').innerHTML = res.uv_inicio
				document.getElementById('uv_tiempo').innerHTML = res.uv_tiempo
				document.getElementById('catarata_on').innerHTML = res.catarata_on
				document.getElementById('catarata_off').innerHTML = res.catarata_off
			},
			error: function(){
				alert("Hubo algun tipo de error.");
			}
			});
		}
};


//---------------BOTON DE GUARDAR CAMBIOS PARA CLIENTE--------------------
$('#update_perfil')
.click(function(e){
nombre = document.getElementById('nombre').innerHTML;
tipo = document.getElementById('tipo').value;
nacimiento = document.getElementById('nacimiento').innerHTML;
var info ='{"nombre": "'+nombre+'","tipo": "'+tipo+'","nacimiento": "'+nacimiento+'"}';
console.log("UPDATE - Configuración perfil")
console.log(info)
$.ajax({
	data: info,
	url: 'http://localhost:8000/perfil/'+id+'',
	contentType:"application/json; charset: utf-8",
	crossDomain: true,
	withCredentials:false,
	type: 'put',
	beforeSend: function(){
			window.alert("Procesando, espere porfavor...");
	},
	success: function (res){
		console.log("respuesta")
		console.log(res);
		window.alert("Cambios Guardados")
		document.getElementById('nombre').innerHTML = res.nombre
		document.getElementById('tipo').value = res.tipo
		document.getElementById('nacimiento').innerHTML = res.nacimiento
	},
	error: function(){
		alert("Hubo algun tipo de error.");
	}
});
});


//--------------------------ACTUALIZAR CONFIG REPTIL
$('#update_reptil')
.click(function(e){
//si se edito algun campo, entonces se le llama personalizada
if (count >= 1){
sol_max = document.getElementById('sol_max').innerHTML
sol_min = document.getElementById('sol_min').innerHTML
temp_max = document.getElementById('temp_max').innerHTML
temp_min = document.getElementById('temp_min').innerHTML
humedad_min = document.getElementById('humedad_min').innerHTML
config_chosen = "personalizada"
uv_inicio = document.getElementById('uv_inicio').innerHTML
uv_tiempo = document.getElementById('uv_tiempo').innerHTML
catarata_on = document.getElementById('catarata_on').innerHTML
catarata_off = document.getElementById('catarata_off').innerHTML
var info ='{"sol_max": "'+sol_max+'","sol_min": "'+sol_min+'","temp_max": "'+temp_max+'","temp_min": "'+temp_min+'","humedad_min": "'+humedad_min+'","config_chosen": "'+config_chosen+'","uv_inicio": "'+uv_inicio+'","uv_tiempo": "'+uv_tiempo+'","catarata_on": "'+catarata_on+'","catarata_off": "'+catarata_off+'"}';
console.log("UPDATE - Configuración reptil con configuración personalizada")
console.log(info)
$.ajax({
	data: info,
	url: 'http://localhost:8000/reptil/'+id+'',
	contentType:"application/json; charset: utf-8",
	crossDomain: true,
	withCredentials:false,
	type: 'put',
	beforeSend: function(){
			window.alert("Procesando, espere porfavor...");
	},
	success: function (res){
		console.log("respuesta")
		console.log(res);
		window.alert("Cambios Guardados")
		document.getElementById('sol_max').innerHTML = res.sol_max
		document.getElementById('sol_min').innerHTML = res.sol_min
		document.getElementById('temp_max').innerHTML = res.temp_max
		document.getElementById('temp_min').innerHTML = res.temp_min
		document.getElementById('humedad_min').innerHTML = res.humedad_min
		document.getElementById('config').value = res.config_chosen
		document.getElementById('uv_inicio').innerHTML = res.uv_inicio
		document.getElementById('uv_tiempo').innerHTML = res.uv_tiempo
		document.getElementById('catarata_on').innerHTML = res.catarata_on
		document.getElementById('catarata_off').innerHTML = res.catarata_off
	},
	error: function(){
		alert("Hubo algun tipo de error.");
	}
	});
	}else{
	sol_max = document.getElementById('sol_max').innerHTML
	sol_min = document.getElementById('sol_min').innerHTML
	temp_max = document.getElementById('temp_max').innerHTML
	temp_min = document.getElementById('temp_min').innerHTML
	humedad_min = document.getElementById('humedad_min').innerHTML
	config_chosen = document.getElementById('config').value
	uv_inicio = document.getElementById('uv_inicio').innerHTML
	uv_tiempo = document.getElementById('uv_tiempo').innerHTML
	catarata_on = document.getElementById('catarata_on').innerHTML
	catarata_off = document.getElementById('catarata_off').innerHTML
	var info ='{"sol_max": "'+sol_max+'","sol_min": "'+sol_min+'","temp_max": "'+temp_max+'","temp_min": "'+temp_min+'","humedad_min": "'+humedad_min+'","config_chosen": "'+config_chosen+'","uv_inicio": "'+uv_inicio+'","uv_tiempo": "'+uv_tiempo+'","catarata_on": "'+catarata_on+'","catarata_off": "'+catarata_off+'"}';
	console.log("UPDATE - Configuración reptil con configuración default")
	console.log(info)
	$.ajax({
		data: info,
		url: 'http://localhost:8000/reptil/'+id+'',
		contentType:"application/json; charset: utf-8",
		crossDomain: true,
		withCredentials:false,
		type: 'put',
		beforeSend: function(){
				window.alert("Procesando, espere porfavor...");
		},
		success: function (res){
			console.log("respuesta")
			console.log(res)
			window.alert("Cambios Guardados")
			document.getElementById('sol_max').innerHTML = res.sol_max
			document.getElementById('sol_min').innerHTML = res.sol_min
			document.getElementById('temp_max').innerHTML = res.temp_max
			document.getElementById('temp_min').innerHTML = res.temp_min
			document.getElementById('humedad_min').innerHTML = res.humedad_min
			document.getElementById('config').value = res.config_chosen
			document.getElementById('uv_inicio').innerHTML = res.uv_inicio
			document.getElementById('uv_tiempo').innerHTML = res.uv_tiempo
			document.getElementById('catarata_on').innerHTML = res.catarata_on
			document.getElementById('catarata_off').innerHTML = res.catarata_off
		},
		error: function(){
			alert("Hubo algun tipo de error.");
		}
		});
	}
});
//-------------------------FUNCION PARA CALCULAR SI ES PERSONALIZADO
var count = 0;
var contenido = $('.reptile').html();
$('.reptile').blur(function() {
    if (contenido!=$(this).html()){
			count ++;
			console.log(count)
    }
});
//---------------------------BOTON SALIR--------------------------
$('#salir')
.click(function(e){
localStorage.removeItem("id_cliente");
});

//-----------------------AUTOMATIZACIÓN-------------------------
function AutoSol() {
	if ($('#temp_sol:checkbox:checked').length > 0){
		console.log("esta clickeado")
		var info = '{"nombre": "temp_sol", "estado": 1}'
		$.ajax({
			data: info,
			url: 'http://localhost:8000/auto/sol/'+id+'',
			contentType:"application/json; charset: utf-8",
			crossDomain: true,
			withCredentials:false,
			type: 'put',
			success: function (res){
				console.log("respuesta")
				console.log(res);
			}
		});
	}else{
		var info = '{"nombre": "temp_sol", "estado": 0}'
		console.log("no está clickeado")
		$.ajax({
			data: info,
			url: 'http://localhost:8000/auto/sol/'+id+'',
			contentType:"application/json; charset: utf-8",
			crossDomain: true,
			withCredentials:false,
			type: 'put',
			success: function (res){
				console.log("respuesta")
				console.log(res);
			}
		});
	}
}
function AutoTerrario() {
	if ($('#temp_terrario:checkbox:checked').length > 0){
		console.log("esta clickeado")
		var info = '{"nombre": "temp_terrario", "estado": 1}'
		$.ajax({
			data: info,
			url: 'http://localhost:8000/auto/terrario/'+id+'',
			contentType:"application/json; charset: utf-8",
			crossDomain: true,
			withCredentials:false,
			type: 'put',
			success: function (res){
				console.log("respuesta")
				console.log(res);
			}
		});
	}else{
		var info = '{"nombre": "temp_terrario", "estado": 0}'
		console.log("no está clickeado")
		$.ajax({
			data: info,
			url: 'http://localhost:8000/auto/terrario/'+id+'',
			contentType:"application/json; charset: utf-8",
			crossDomain: true,
			withCredentials:false,
			type: 'put',
			success: function (res){
				console.log("respuesta")
				console.log(res);
			}
		});
	}
}

function AutoHumedad() {
	if ($('#humedad:checkbox:checked').length > 0){
		console.log("esta clickeado")
		var info = '{"nombre": "temp_humedad", "estado": 1}'
		$.ajax({
			data: info,
			url: 'http://localhost:8000/auto/humedad/'+id+'',
			contentType:"application/json; charset: utf-8",
			crossDomain: true,
			withCredentials:false,
			type: 'put',
			success: function (res){
				console.log("respuesta")
				console.log(res);
			}
		});
	}else{
		var info = '{"nombre": "temp_humedad", "estado": 0}'
		console.log("no está clickeado")
		$.ajax({
			data: info,
			url: 'http://localhost:8000/auto/humedad/'+id+'',
			contentType:"application/json; charset: utf-8",
			crossDomain: true,
			withCredentials:false,
			type: 'put',
			success: function (res){
				console.log("respuesta")
				console.log(res);
			}
		});
	}
}

function AutoLuminocidad() {
	if ($('#luminocidad:checkbox:checked').length > 0){
		console.log("esta clickeado")
		var info = '{"nombre": "temp_luminocidad", "estado": 1}'
		$.ajax({
			data: info,
			url: 'http://localhost:8000/auto/luminocidad/'+id+'',
			contentType:"application/json; charset: utf-8",
			crossDomain: true,
			withCredentials:false,
			type: 'put',
			success: function (res){
				console.log("respuesta")
				console.log(res);
			}
		});
	}else{
		var info = '{"nombre": "temp_luminocidad", "estado": 0}'
		console.log("no está clickeado")
		$.ajax({
			data: info,
			url: 'http://localhost:8000/auto/luminocidad/'+id+'',
			contentType:"application/json; charset: utf-8",
			crossDomain: true,
			withCredentials:false,
			type: 'put',
			success: function (res){
				console.log("respuesta")
				console.log(res);
			}
		});
	}
}
</script>
</body>
</html>
