<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Register</title>
	<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
	<style>
	body, html {
		height: 100%;
		text-align:center;
		background-image: url("https://stmed.net/sites/default/files/reptile-wallpapers-25600-5830782.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
}
	 .confir{
			background-color: #32CD32;
			height:10%;
			padding: 10px 10px;
			font-size: 32px;
			border: ridge;
			width: 250px;
			font-style: italic;
			color:black;
			}
		.regis{
			background-color: #87CEEB;
			height:10%;
			padding: 10px 10px;
			font-size: 32px;
			border: ridge;
			width: 250px;
			font-style: italic;
			color: black;
			}
		.inpu{
			background-color: black;
			background: rgba(79,47,77,0.5);
      height:20px;
      padding: 20px 20px;
			border: solid;
			border-color: blue;
			font-size: 30px;
			font-weight: bold;
			width: 50%;
			margin-bottom: 100px;
        }
		.confir:hover {
		    background-color: #006400;
				color:white;
		}

		.regis:hover {
				background-color: #800080;
				color:white;
		}
		.tx{
			font-size: 40px;
			font-style: italic;
			font-weight: bold;
			}
	</style>
</head>
<body>
	<h1 class="tx">Crea Tu Usuario</h1>
	<h2>Ingresa tu Nombre y Contraseña</h2>

		<input type="text" name="NOMBRE" id="NOMBRE" placeholder="NOMBRE" class="inpu">

		<br><br>

		<input type="text" name="PASSWORD" id="PASSWORD" placeholder="CONSTRASEÑA" class="inpu">

		<br><br>

		<input type="text" name="REPEAT-PASSWORD" id="RPASSWORD" placeholder="REPETIR CONSTRASEÑA" class="inpu">

		<br><br>

		<button type="submit" id="boton" class="confir">
			Registrarte
		</button>

		<button onclick="window.location.href='http://localhost:8080/'" class="regis">Regresar</button>

</body>
<script>
$('#boton')
.click(function(e){
nombre = document.getElementById('NOMBRE').value;
password = document.getElementById('PASSWORD').value;
password2 = document.getElementById('RPASSWORD').value;
if(password == password2 && nombre != "" && password !=""){
var info = '{"nombre": "'+nombre+'", "password": "'+password+'"}';
console.log("REGISTER")
console.log(info)
$.ajax({
	data: info,
	url: 'http://localhost:8000/Register',
	contentType:"application/json; charset: utf-8",
	crossDomain: true,
	withCredentials:false,
	type: 'POST',
	beforeSend: function(){
			window.alert("Procesando, espere porfavor...");
	},
	success: function (){
		window.location.replace('/mainmenu')
 },
	error: function(){
		alert("Hubo algun tipo de error.");
	}
	});
} else {
	window.alert("las contraseñas no son iguales, o el formulario está incompleto")
}


});

</script>
</html>
